/.undodir
/.nyc_output
/.yalc
/node_modules
/coverage
package-lock.json
pnpm-lock.yaml
yarn.lock
yarn-error.log
yalc.lock
tags
todo

/test
/docs
/scripts

.eslintignore
.eslintrc.json
.lintstagedrc.json
.mocharc.json
.nycrc.json
.prettierignore
.prettierrc.json
.sermitrc.json
.renovaterc.json
.travis.yml
.yamlfmt.yml
.yamllint.yml

commitlint.config.js
